<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<body>
	<header th:fragment="navbar" id="navbar-top">
		<nav class="navbar navbar-expand-lg navbar-dark ">
		  <a class="navbar-brand font-1 ml-1 ml-sm-5" href="/">The Wild Circus</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			  <div class=" d-flex justify-content-end col-sm-12">
				  <ul class="navbar-nav">
					<li class="nav-item active">
					  <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#about-us">A propos</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#articles">Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#gallery">Gallery Photo</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#tickets">Tickets</a>
					  </li>
				  </ul>
			  </div>
		  </div>
		</nav>
	</header>
</body>
</html>