:root {
  --darkBrown: #393432;
  --brown: #b78065;
  --light: #f9f2ec;
  --fauve: #ffc85c;
  --white: white;
  --active: #82d485;
  --danger: #dc3545;
  --font-1: 'Rock Salt', cursive;
  --font-2: 'Open Sans';
  --font-3: 'Raleway';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--darkBrown);
  font-family: var(--font-3);
}

.font-1 {
  font-family: var(--font-1);
}

h1,
h2,
.navbar-brand {
  font-family: var(--font-1);
  font-size: 2.8em;
}

p,
ul,
li {
  font-size: 16pt;
}

svg {
  height: 25px;
}

main {
  position: relative;
}

.btn {
  background-color: var(--fauve);
  border-color: var(--fauve);
}

.btn:hover {
  background-color: var(--darkBrown);
  border-color: var(--darkBrown);
  color: var(--fauve);
}

.pawn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--fauve);
  border-color: var(--fauve);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.pawn path {
  fill: var(--darkBrown);
}

.pawn:hover {
  background-color: var(--darkBrown);
  border-color: var(--darkBrown);
}

.pawn:hover path {
  fill: var(--fauve);
}

.pawn:active {
  background-color: var(--light) !important;
  border-color: var(--darkBrown) !important;
  box-shadow: var(--darkBrown) !important;
}

/*Header*/

header nav {
  background-color: var(--darkBrown);
  padding: 30px 20px !important;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

/*Footer*/

.footer {
  min-height: calc(100vh - 135px);
  background-image: url('/img/bg-direction.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

.footer::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.footer-info {
  padding: 30px 0 0px 0;
  width: 90%;
  height: 90%;
  z-index: 1;
  border-bottom: 1px white solid;
}

.footer-info *:not(h4) {
  color: white;
  font-size: 1em;
}

.footer-info > div {
  width: 30%;
}

.footer-info h4 {
  color: var(--fauve);
  font-family: var(--font-3);
  padding-bottom: 20px;
  border-bottom: 1px white solid;
}

.footer-info h3 {
  font-family: var(--font-1);
  padding: 10px 0;
  font-size: 19px;
}

.footer-info__address li {
  list-style-type: none;
}

.footer-copyright {
  z-index: 1;
}

.footer-copyright__detail {
  color: white;
}

.footer-copyright span {
  display: inline-block;
  font-family: var(--font-1);
  color: var(--fauve);
  transition: transform ease-in-out 200ms;
}

.footer-copyright span:last-of-type:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.1);
}

/*Medium*/
@media screen and (max-width: 765px) {
  header nav {
    padding: 20px 20px !important;
  }

  .pawn {
    bottom: 10px;
    right: 10px;
  }

  h1,
  h2,
  .navbar-brand {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p,
  li,
  label,
  .jumbotron p,
  .jumbotron ul,
  .footer-copyright {
    font-size: 0.9rem;
  }

  .footer-copyright {
    padding-top: 10px;
    padding-bottom: 80px;
  }
}

/*Large*/
@media screen and (max-width: 992px) {
  .footer {
    min-height: calc(100vh - 78px);
    background-position: center;
  }

  .footer-info {
    width: 80%;
  }

  .footer-info > div {
    width: 100%;
  }
}
