:root {
    --darkBrown: #393432;
    --brown: #b78065;
    --light: #f9f2ec; 
    --fauve:#ffc85c;
    --white: white;
    --active: #82D485;
    --danger: #DC3545;
    --font-1: 'Rock Salt', cursive;    
    --font-2: 'Open Sans';
    --font-3: 'Raleway';
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--darkBrown);
	font-family: var(--font-3);
	
}

.font-1 {
	font-family: var(--font-1);
}

h1, h2, .navbar-brand {
	font-family: var(--font-1);
	font-size: 2.8em;
}

p, ul, li {
	font-size: 16pt;

}

svg {
	height:25px;
}

main {
	position: relative;
}

.btn {
	background-color: var(--fauve);
	border-color: var(--fauve);
}

.btn:hover {
	background-color: var(--darkBrown);
	border-color: var(--darkBrown);
	color: var(--fauve);
}

.pawn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--fauve);
	border-color: var(--fauve);
	border-radius: 50%;
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:100;
}

.pawn path {
	fill:var(--darkBrown);
}

.pawn:hover {
	background-color: var(--darkBrown);
	border-color: var(--darkBrown);
}

.pawn:hover path {
	fill:var(--fauve);
}

.pawn:active {
	background-color: var(--light)!important;
	border-color: var(--darkBrown)!important;
	box-shadow: var(--darkBrown)!important;
}




/*Header*/

header nav {

	background-color: var(--darkBrown);
	padding: 32px 20px!important;
	
}

header {
	position: -webkit-sticky;
  	position: sticky;
	top: 0;
	z-index: 100;
}


@media screen and (max-width: 765px){

	header nav {
		padding: 20px 20px!important;	
	}

	.pawn {
		bottom: 10px;
		right: 10px;	
	}


	h1, h2, .navbar-brand {
		font-size:1.2rem;
	}

	h3 {
		font-size: 1.1rem;;
	}

	p, li, label, .jumbotron p, .jumbotron ul {
		font-size: 0.9rem;
	}
	

}
