<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link
		href="https://fonts.googleapis.com/css?family=Lakki+Reddy|Mountains+of+Christmas|Over+the+Rainbow|Shojumaru|Rock+Salt|Roboto|Raleway&display=swap"
		rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
  <link rel="stylesheet" href="../css/gallery-grid.css">
  <title>Accueil Administrateur</title>
</head>
	<body>
  	<div id="wrapper">
	  <aside th:replace="fragments/admin_sidebar.html :: sidebar"></aside>
	  <div th:replace="fragments/admin_sidebar.html :: navbar"></div>
	  <main class="fluid-container" id="content-wrapper">
	  	<section class="gallery">
	  	<h2 class="text-center my-4">Admistration de la gallerie photo</h2>
		<div class="d-flex justify-content-center">
			<a href="/admin/addPictureSection" class="btn btn-light mt-3">Ajouter une photo</a>										
		</div>
	  	<div id="gallery" class="gallery container-fluid px-0 px-sm-5">
			<div class="container gallery-container d-flex justify-content-center">
				<div class="tz-gallery p-1 p-sm-5">
					<div class="row d-flex justify-content-center">
						<div class="col-sm-6 col-md-3 border p-2 m-2" th:each="galleryPicture : ${galleryPictures}">
							<a class="lightbox" th:href="${galleryPicture.picturePath}">
								<img th:src="|/${galleryPicture.picturePath}|" th:alt="${galleryPicture.name}">
							</a>
							<div class="d-flex justify-content-center">
								<form method="POST" th:action="@{/admin/deletePicture}">
									<input type="hidden" name="pictureId" th:value="${galleryPicture?.id}"/>
									<button type="submit" class="btn-hidden mx-2" onclick="return confirm('Etes-vous sûrs de vouloir supprimer cette photo ?');">
										<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
									</button>										
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  	<p th:if="${#lists.size(galleryPictures) == 0}" class="text-danger text-center">La gallerie est vide !</p>
	  	</section>	  
    	</main>
	</div>	  
</body>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/admin.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
	<script>
		baguetteBox.run('.tz-gallery');
	</script>
</html>

