<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy|Mountains+of+Christmas|Over+the+Rainbow|Shojumaru&display=swap" rel="stylesheet"> 
  <link
		href="https://fonts.googleapis.com/css?family=Lakki+Reddy|Mountains+of+Christmas|Over+the+Rainbow|Shojumaru|Rock+Salt|Roboto|Raleway&display=swap"
		rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
  <title>Accueil Administrateur</title>
</head>
	<body>
  <div id="wrapper">
	  <aside th:replace="fragments/admin_sidebar.html :: sidebar"></aside>
	  <div th:replace="fragments/admin_sidebar.html :: navbar"></div>
	  <main class="fluid-container pt-3" id="content-wrapper">
	  	<section class="comments">
	  		<h2 class="text-center mt-4	mb-5">Administration des commentaires</h2>
	  		<div class="row  d-flex">
		        <aside class="col-12 col-sm-3 p-5 mt-5">
	                <h4 class="mb-5 font-1">Liste des articles</h4>
	                <ul class="list-unstyled">
	                    <li class="media my-4" th:each="article : ${articles}">
	                        <div class="img-container mr-3 d-flex justify-content-center align-items-center">
	                            <img th:src="|/${article?.picturePath}|" alt="...">
	                        </div>
	                      <div class="media-body d-flex flex-column justify-content-center">
	                      <form method="POST" th:action="@{/admin/displayArticleComments}">
	                      	<input type="hidden" name="articleId" th:value="${article.id}"/>
	                      	<button type="submit" class="px-0">
	                         <h5 class="mt-0 my-0 mx-0" th:text="${article?.title}">List-based media object</h5>
	                      	</button>
	                      </form>
	                        <p class="card-text"><small class="text-muted" th:text="*{#dates.format(article?.date, 'dd-MM-yyyy')}">Date de publication</small></p>                            
	                      </div>
	                    </li>
	                  </ul>
	            </aside>
	            
	            <!--Comments-->
	             <div  class="comments col-12 col-sm-6 mt-3" th:if="${displayedArticle != null and #lists.size(displayedArticle?.comments) > 0}">
	             	<h4 th:text="${displayedArticle.title}"></h4>	
	                 <div class="card my-3" th:each="comment : ${displayedArticle.comments}">
	                     <div class="card-body">
	                       <div class="mb-3">
	                      <span>
	                          <svg aria-hidden="true" focusable="false" data-prefix="fas"
	                              data-icon="user-circle"
	                              class="mr-1 mb-1 svg-inline--fa fa-user-circle fa-w-16" role="img"
	                              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
	                              <path fill="currentColor"
	                                  d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
	                              </path>
	                          </svg>
	                          <span th:text="${comment?.author}">Auteur</span>
	                      </span>
	                  </div>
	                       <p class="card-text" th:text="${comment?.content}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	                       <p class="card-text"><small class="text-muted" th:text="|Posté le ${#dates.format(comment.date, 'dd-MM-yyyy')}|">Last updated 3 mins ago</small></p>
	                     </div>
	                     <hr>
	                     
	                  	<div class="d-flex justify-content-end mb-3">
							<form method="POST" th:action="@{/admin/selectComment}">
								<input type="hidden" name="articleId" th:value="${displayedArticle.id}"/>
								<input type="hidden" name="commentId" th:value="${comment.id}"/>
								<button type="submit" class="btn btn-light mx-3 ">Modifier</button>										
							</form>
							<form method="POST" th:action="@{/admin/deleteComment}">
								<input type="hidden" name="articleId" th:value="${displayedArticle.id}"/>
								<input type="hidden" name="commentId" th:value="${comment.id}"/>
								<button type="submit" class="btn btn-light mx-3" onclick="return confirm('Etes-vous sûrs de vouloir supprimer ce commentaire ?');">Supprimer</button>										
							</form>
						</div>
	                 </div>
	              </div>
	              <div th:unless="${displayedArticle != null and #lists.size(displayedArticle?.comments) > 0}" class="text-danger text-center col-12 col-sm-6 mt-5 pt-5">Pas d'article sélectionné ou pas de commentaires</div>
	  			</div>	 		
	  	</section>	  
    	</main>
	</div>	  
</body>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/admin.js"></script>
</html>

