<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
	<link
		href="https://fonts.googleapis.com/css?family=Lakki+Reddy|Mountains+of+Christmas|Over+the+Rainbow|Shojumaru|Rock+Salt|Roboto|Raleway&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../css/general.css">
	<link rel="stylesheet" type="text/css" href="../css/articles.css">
	<link rel="stylesheet" href="../css/gallery-grid.css">
	<title>Wild Circus</title>
</head>

<body>

	<header th:replace="fragments/header.html :: navbar-articles"></header>

	<main id="home">
	
		<section class="banner container-fluid px-3 px-sm-5 py-1 py-sm-5">
            <h1 class="text-center my-5 col-12">Articles</h1>		
		</section>

		<section class="articles container-fluid px-3 px-sm-5 py-3 py-sm-5">
            <div class="row py-4 d-flex justify-content-center">
	            <div class="col-12 col-sm-6 mb-4">
	                <article class="card" th:if="${displayedArticle != null}" th:object="${displayedArticle}">
	                    <img th:src="*{picturePath}" class="card-img-top rounded-0" alt="...">
	                    <div class="card-body">
	                        <h5 class="card-title mb-3" th:text="*{title}">Card title</h5>
	                        <div class="mb-2 p-0">
	                            <span>
	                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
	                                    data-icon="user-circle"
	                                    class="mr-1 mb-1 svg-inline--fa fa-user-circle fa-w-16" role="img"
	                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
	                                    <path fill="currentColor"
	                                        d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
	                                    </path>
	                                </svg>
	                                <span th:text="*{author}">Auteur</span>
	                            </span>
	                            <span class="ml-3">
	                                <svg aria-hidden="true" focusable="false" data-prefix="far"
	                                    data-icon="calendar-alt"
	                                    class="mr-1 mb-1 svg-inline--fa fa-calendar-alt fa-w-14" role="img"
	                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
	                                    <path fill="currentColor"
	                                        d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z">
	                                    </path>
	                                </svg>
	                                <span th:text="*{#dates.format(date, 'dd-MM-yyyy')}">Date</span>
	                            </span>
	                        </div>
	                        <p class="card-text" th:text="*{content}">This is a longer card with supporting text below as a natural
	                            lead-in to additional content. This content is a little bit longer.</p>
	                    </div>
                    </article>
                    <!--Comments-->
                    <div class="comments pt-4 my-sm-5">
                        <h3 class="mb-0 mb-sm-2">Commentaires</h3>
                        <div class="card" th:if="${displayedArticle != null and not #lists.isEmpty(displayedArticle.comments)}" th:each="comment : ${displayedArticle.comments}">
                            <div class="card-body px-1">
                              <div class="mb-3 p-0">
	                            <span>
	                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
	                                    data-icon="user-circle"
	                                    class="mr-1 mb-1 svg-inline--fa fa-user-circle fa-w-16" role="img"
	                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
	                                    <path fill="currentColor"
	                                        d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
	                                    </path>
	                                </svg>
	                                <span th:text="${comment?.author}">Auteur</span>
	                            </span>
	                        </div>
                              <p class="card-text" th:text="${comment?.content}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-muted" th:text="|Posté il y a ${#dates.minute(#dates.createNow()) - #dates.minute(comment.date)} min|">Last updated 3 mins ago</small></p>
                            </div>
                            <hr>
                        </div>
					</div>

					<div class="live-comment my-3 my-sm-5">
						<h3 class="mb-4">Laisser un commentaire</h3>
						<div class="form-group">
						  <label for="inputAddress">Commentaire</label>
						  <textarea class="form-control" id="inputAddress"></textarea>
						</div>
						<form>
							<div class="form-row mb-">
								<div class="form-group col-md-6">
									<label for="inputName">Nom</label>
									<input type="text" class="form-control" id="inputName" placeholder="Nom">
								</div>
								<div class="form-group col-md-6">
									<label for="inputEmail4">Nom</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Email">
								</div>
							</div>
							<button type="submit" class="btn">Publier</button>
						  </form>

					</div>

                </div>
                
	            <aside class="col-12 col-sm-2 mx-4 mb-4 pt-5">
                    <h3 class="mb-5 font-1">Publications récentes</h3>
                    <ul class="list-unstyled">
                        <li class="media my-4" th:each="article : ${articles}">
                            <div class="img-container mr-3 d-flex justify-content-center align-items-center">
                                <img th:src="${article?.picturePath}" alt="...">
                            </div>
                          <div class="media-body d-flex flex-column justify-content-center">
                          <form method="POST" th:action="@{/articles}">
                          	<input type="hidden" name="articleId" th:value="${article.id}" />
                          	<button type="submit">
	                            <h5 class="mt-0 my-0" th:text="${article?.title}">List-based media object</h5>
                          	</button>
                          </form>
                            <p class="card-text"><small class="text-muted" th:text="*{#dates.format(article?.date, 'dd-MM-yyyy')}">Date de publication</small></p>                            
                          </div>
                        </li>
                      </ul>
                </aside>
            </div>

		</section>

	</main>

	<footer></footer>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
	baguetteBox.run('.tz-gallery');
</script>

</html>